[submodule "KafNafParserPy"]
	path = KafNafParserPy
	url = https://github.com/cltl/KafNafParserPy.git,
[submodule "dbpediaEnquirerPy"]
	path = dbpediaEnquirerPy
	url = https://github.com/rubenIzquierdo/dbpediaEnquirerPy
